@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

body{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    overflow: hidden;
}

h1  {
    text-align: center;
    line-height: 1.2;
    font-family: 'Permanent Marker', cursive; 
    letter-spacing: 3px;
    font-size: 4rem;
    margin-bottom: 6rem;
}

h2 {
    text-align: center;
    line-height: 1.2;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

/* Contenedor inicio del juego */

.contenedor {
    background-color: #002fff;
    padding: 3rem;
    width: 50%;
    border-radius: 10px;
    
}


.contenedor-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-inicio h2{
    font-size: 3rem;

}

@media (max-width:768px) {
    .contenedor{
        width: 90%;
        padding: 1rem;
    }
    .contenedor-inicio h2{
        font-size: 2.5rem;
    }
}

/* Contenedor preguntas y respuestas */

.preguntas-y-respuestas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pregunta{
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.respuestas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    width: 90%;
}

.respuestas > *{
    width: inherit;
    padding: 7px 0;
    cursor: pointer;
    background-color: gold;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: .2s ease;
}

.respuestas > *:hover{
    transform: scale(1.03);
}

@media (max-width:768px) {
    .pregunta{
        width: 100%;
        text-align: center;
    }
    .respuestas{
        width: 90%;
        padding: 0;
    }
}

.btn{
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 800;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.boton-inicio{
    padding: 20px 30px;
    background-color: gold;
    font-size: 1.3rem;
    text-transform: uppercase;   
    box-shadow: #b39800 0px 10px 1px 0px;
    transition: .1s ease;
    margin-bottom: 1rem;
}

.boton-inicio:hover{
    transform: translateY(2px);
}

#boton-siguiente{
    padding: 10px 20px;
    box-shadow: #b8b8b8 0px 10px 1px 0px;  
    transition: .1s ease;
}

#boton-siguiente:hover{
    transform: translateY(2px);
}

.resultado-juego{
   font-size: 3rem; 
   margin-bottom: 2rem;
   font-weight: 800;
   text-align: center;
}


/* Clases javascript */
.correcto{
    background-color: #11ce11;
}
.incorrecto{
    background-color: red;
}

.oculto{
    display: none;
}